html{
    scroll-behavior: smooth;
}
    


body{
    background-color: firebrick;
}

img{
    width: 50%;
}
figure{
    text-align: center;
}
.container{
    width: 80%;
    margin: auto;
}

h1{
    text-align: center;
    color: black;
     
}
p{
   font-size: 1.6em;
   color: black;
   text-align: justify;
   text-indent: 40px;

}
.parag_letras > p{

    font-size: 1em;
}
.fundo_letras{
    background-image: linear-gradient(to right, rgba(236, 19, 12, 0.678) , rgb(54, 36, 36));
}


